:root>* {

    /* bar sup */
    --md-primary-fg-color: rgb(181, 131, 81);
    --md-primary-fg-color--light: rgb(181, 131, 81);
    --md-primary-fg-color--dark: rgb(181, 131, 81);

    /* footer up */
    --md-footer-bg-color: rgb(230, 230, 230);
    /* footer tipo */
    --md-footer-fg-color: rgb(0, 0, 0);
    /* footer down */
    --md-footer-bg-color--dark: rgb(181, 131, 81);
    /* footer link tipo */
    --md-footer-fg-color--lighter:  rgb(0, 0, 0);
    /* footer tipo */
    --md-footer-fg-color--light:  rgb(32, 32, 32);

    --mdc-typography-headline6-font-family: 'Montserrat', sans-serif;
    --mdc-typography-font-family: 'Montserrat', sans-serif;

/* rgb(64, 146, 133);
rgb(199, 136, 74)

    /*
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    */

    /* links */
    --md-typeset-a-color: rgb(181, 131, 81);
    /* hover */
    --md-accent-fg-color: rgb(181, 131, 81);
    /* background */
    --md-default-bg-color: rgb(248, 248, 248);

    /* color titles */
    --md-default-fg-color--light: rgb(181, 131, 81);

    /* icon sh */
    --md-default-fg-color--lighter: #00000000;
}

/* barres laterals */
.md-sidebar {
    background-color: rgb(244, 244, 244);
}

.imgContainer{
    float:left;
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

/*
body {
  margin: 0;
  height: 100vh;
  cursor: url('https://paresmarc.github.io/MDEF/images/b.jpg')3 3, auto;
}


body:hover {
    margin: 0;
    height: 100vh;
    cursor: url('https://paresmarc.github.io/MDEF/images/g2.jpg')3 3, auto;
}
*/

/*
.cursor
{
  url:'https://paresmarc.github.io/MDEF/images/b.jpg'3 3, auto;

}

ul li:hover ~ .cursor
{
  url:'https://paresmarc.github.io/MDEF/images/g2.jpg'3 3, auto;
}
*/
