:root>* {

    /* bar sup */
    --md-primary-fg-color: rgb(64, 146, 133);
    --md-primary-fg-color--light: rgb(64, 146, 133);
    --md-primary-fg-color--dark: rgb(64, 146, 133);

    /* footer up */
    --md-footer-bg-color: rgb(230, 230, 230);
    /* footer tipo */
    --md-footer-fg-color: rgb(0, 0, 0);
    /* footer down */
    --md-footer-bg-color--dark: rgb(64, 146, 133);
    /* footer link tipo */
    --md-footer-fg-color--lighter:  rgb(0, 0, 0);
    /* footer tipo */
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    /* links */
    --md-typeset-a-color: rgb(64, 146, 133);
    /* hover */
    --md-accent-fg-color: rgb(64, 146, 133);
    /* background */
    --md-default-bg-color: rgb(247, 247, 247);
}

/* barres laterals */
.md-sidebar {
    background-color: rgb(235, 235, 235);
}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(225, 225, 225);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

/* Cursor shape

body {
  margin: 0;
  height: 100vh;
  cursor: url('https://paresmarc.github.io/MDEF/images/b.jpg')3 3, auto;
}


body:hover {
    margin: 0;
    height: 100vh;
    cursor: url('https://paresmarc.github.io/MDEF/images/o.jpg')3 3, auto;
}
*/
